<%- include('partials/header') -%>

<img src="images/dumbell_bckgrnd.jpg" class="bg">

<div class="form-signin">

  <span class="fas fa-dumbbell fa-10x"></span>
  <img class="mb-4" src="/images/newsletter_icon.png" alt="" height="120px">
  <h3 class="h3 mb-3 font-weight-normal form-title">We'll be in touch soon. <br />Alex Bewley PT</h3>

</div>

<%- include('partials/footer') -%>
